<script lang="ts" setup>
import { ref, computed } from "vue";
interface Product {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const orderItems = ref<Product[]>([]);
const addProduct = (product: Product) => {
  orderItems.value.push(product);
};

const total = computed(() => {
  let sum = 0;
  for (const p of orderItems.value) {
    sum = sum + p.price;
  }
  return sum;
});
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col
          style="height: 800px; overflow-y: scroll; overflow-x: hidden"
          cols="6"
        >
          <v-row>
            <v-col v-for="item of products" :key="item.id" cols="12" md="4">
              <v-card>
                <div style="text-align: center; font-weight: bold" class="ma-3">
                  {{ item.name }}
                </div>
                <div style="text-align: center">{{ item.price }}</div>
                <v-card-actions class="justify-center">
                  <div>
                    <v-btn @click="addProduct(item)">ADD</v-btn>
                  </div>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <v-card>
            <v-card-item>
              <v-table height="720px">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="orderItems.length === 0">
                    <td colspan="3" class="text-center">No Data</td>
                  </tr>
                  <tr v-for="(product, index) of orderItems" :key="index">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card-item>
          </v-card>
          <v-row>
            <v-col style="font-weight: bold" cols="12" class="text-h2"
              >Sum {{ total }}</v-col
            >
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
