<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
</script>

<template>
  <div>
    <v-text-field
      label="Please input number"
      placeholder="0"
      v-model="input"
      :rules="[(v) => !!v || 'Number is not empty!!']"
    >
    </v-text-field>

    <v-col
      style="height: 900px; overflow-y: scroll; overflow-x: hidden"
      cols="12"
    >
      <v-row>
        <v-col
          v-for="num in parseInt(input)"
          :key="num"
          cols="1"
          class="mb-16"
          style="font-size: 16pt; font-weight: bold"
        >
          {{ num }}
        </v-col>
      </v-row>
    </v-col>
  </div>
</template>
