<script setup lang="ts">
import { ref } from "vue";

const result = ref(0);
const showEmotion = ref(false);
const showColor1 = ref(false);
const showColor2 = ref(false);
const showColor3 = ref(false);
const showColor4 = ref(false);
const showColor5 = ref(false);
const showColor6 = ref(false);

function changEmotionAngry() {
  showEmotion.value = true;
  result.value = 1;
  showColor1.value = true;
  showColor2.value = false;
  showColor3.value = false;
  showColor4.value = false;
  showColor5.value = false;
  showColor6.value = false;
}
function changEmotionCute() {
  showEmotion.value = true;
  result.value = 2;
  showColor1.value = false;
  showColor2.value = true;
  showColor3.value = false;
  showColor4.value = false;
  showColor5.value = false;
  showColor6.value = false;
}
function changEmotionExcited() {
  showEmotion.value = true;
  result.value = 3;
  showColor1.value = false;
  showColor2.value = false;
  showColor3.value = true;
  showColor4.value = false;
  showColor5.value = false;
  showColor6.value = false;
}
function changEmotionPain() {
  showEmotion.value = true;
  result.value = 4;
  showColor1.value = false;
  showColor2.value = false;
  showColor3.value = false;
  showColor4.value = true;
  showColor5.value = false;
  showColor6.value = false;
}
function changEmotionShocked() {
  showEmotion.value = true;
  result.value = 5;
  showColor1.value = false;
  showColor2.value = false;
  showColor3.value = false;
  showColor4.value = false;
  showColor5.value = true;
  showColor6.value = false;
}
function changEmotionSmile() {
  showEmotion.value = true;
  result.value = 6;
  showColor1.value = false;
  showColor2.value = false;
  showColor3.value = false;
  showColor4.value = false;
  showColor5.value = false;
  showColor6.value = true;
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <div v-if="result == 1">
          <v-img src="./feeling_imgs/angry.png"></v-img>
        </div>

        <div v-else-if="result == 2">
          <v-img src="./feeling_imgs/cute.png"></v-img>
        </div>

        <div v-else-if="result == 3">
          <v-img src="./feeling_imgs/excited.png"></v-img>
        </div>

        <div v-else-if="result == 4">
          <v-img src="./feeling_imgs/pain.png"></v-img>
        </div>

        <div v-else-if="result == 5">
          <v-img src="./feeling_imgs/shocked.png"></v-img>
        </div>

        <div v-else-if="result == 6">
          <v-img src="./feeling_imgs/smile.png"></v-img>
        </div>
      </v-col>
      <v-col cols="6">
        <v-btn
          style="width: 100%; margin: 10px"
          :class="{ 'focus-color': showColor1 }"
          @click="changEmotionAngry()"
          >ANGRY</v-btn
        >
        <v-btn
          style="width: 100%; margin: 10px"
          @click="changEmotionCute()"
          :class="{ 'focus-color': showColor2 }"
          >CUTE</v-btn
        >
        <v-btn
          style="width: 100%; margin: 10px"
          :class="{ 'focus-color': showColor3 }"
          @click="changEmotionExcited()"
          >EXCITED</v-btn
        >
        <v-btn
          style="width: 100%; margin: 10px"
          :class="{ 'focus-color': showColor4 }"
          @click="changEmotionPain()"
          >PAIN</v-btn
        >
        <v-btn
          style="width: 100%; margin: 10px"
          :class="{ 'focus-color': showColor5 }"
          @click="changEmotionShocked()"
          >SHOCKED</v-btn
        >
        <v-btn
          style="width: 100%; margin: 10px"
          :class="{ 'focus-color': showColor6 }"
          @click="changEmotionSmile()"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  text-align: center;
}
.focus-color {
  background-color: rgb(255, 238, 0);
}
</style>
