<script lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
export default {
  // state
  data() {
    return {
      count: 0,
    };
  },
  // actions
  methods: {
    increment() {
      this.count++;
    },
    decrement() {
      if (this.count != 0) {
        this.count--;
      }
    },
  },
  components: { FirstComponent, SecondComponent },
};
</script>

<template v-if="{{ count }} > -1">
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
        <p>{{ count }}</p>
        <v-btn class="ma-5" @click="increment()">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <p>{{ count * 2 }}</p>
        <v-btn class="ma-5" @click="decrement()">DECREMENT</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
