<!-- <script setup lang="ts">
import { ref } from "vue";

const props = withDefaults(
  defineProps<{
    name: string;
    score: number;
    index: number;
  }>(),
  {
    score: 0,
  }
);

const count = ref(props.score);

function dec() {
  if (count.value <= 0) {
    return;
  }
  return count.value++;
}
</script>
<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-caption">Score: {{ count * 2 }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn style="background-color: whitesmoke" @click="dec()">
        DECREAMENT
      </v-btn>
    </v-card-actions>
  </v-card>
</template> -->
<script setup lang="ts"></script>
<template>
  <div>
    <h1>Second Component</h1>
  </div>
</template>
